.workBoard-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .workBoard-pagination button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    margin: 0 10px;
  }
  
  .workBoard-pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .workBoard-pagination .page-number {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .workBoard-pagination .page-number.active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .workBoard-pagination ul {
    list-style: none;
    padding: 0;
  }
  
  .workBoard-pagination ul.pagination li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .workBoard-pagination ul.pagination li:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .workBoard-pagination ul.pagination li:last-child {
    border-radius: 0 5px 5px 0;
  }
  
  .workBoard-pagination ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
  }
  
  .workBoard-pagination ul.pagination li.active a {
    color: white;
  }
  
  .workBoard-pagination ul.pagination li.active {
    background-color: #337ab7;
  }
  
  .workBoard-pagination ul.pagination li a:hover,
  .workBoard-pagination ul.pagination li a.active {
    color: blue;
  }
  
  .workBoard-pagination .page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }
  